.tenth-page {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    background-color: #F3EEE5;
    padding: 30px 0px;
}

.tenth-page h1 {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.289;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    margin-bottom: 0px;
}

.tenth-line {
    height: 2px;
    width: 140px;
    background-color: #c1aa7f;
    margin: auto;
    
}

.tenth-page-main {
    margin-top: 57px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tour-price h1 {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.611;
    color: #000000;
    margin-bottom: 30px;
}

.arrival-price h1 {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.611;
    color: #000000;
    margin-bottom: 20px;
}

.tour-price-first {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.tour-price-first span {
    margin-left: 6px;
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
}

.tour-price-first img {
    scale: 0.5;
    margin: auto;
}

.tour-price-second {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.tour-price-second span {
    margin-left: 6px;
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
}

.tour-price-second img {
    scale: 0.5;
    margin: auto;
}

.arrival-price-first {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.arrival-price-first span {
    margin-left: 6px;
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
}

.arrival-price-first img {
    scale: 0.5;
    margin: auto;
}

.arrival-price-second {
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.arrival-price-second span {
    margin-left: 6px;
    overflow-wrap: break-word;
    font-family: ' Georgia, serif';
    font-weight: 400;
    font-size: 16px;
}

.arrival-price-second img {
    scale: 0.5;
    margin: auto;
}